#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/pointing.h>
#include <behaviors/rgbled_widget.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

// Leyer
#define ARROW 1
#define NUM 2

// Japanese
#define JP_MINUS MINUS        // -
#define JP_CARET EQUAL        // ^
#define JP_YEN   INT3         // ¥
#define JP_AT    LBKT         // @
#define JP_LBKT  RBKT         // [
#define JP_EISU  CAPS         // Eisu (英数)
#define JP_SEMI  SEMI         // ;
#define JP_COLON SQT          // :
#define JP_RBKT  NUHS         // ]
#define JP_COMMA COMMA        // ,
#define JP_DOT   DOT          // .
#define JP_SLASH SLASH        // /
#define JP_BSLH  INT1         // (backslash)
#define JP_MHEN  INT5         // Muhenkan (無変換)
#define JP_HENK  INT4         // Henkan (変換)
#define JP_EXCL  LS(N1)       // !
#define JP_DQT   LS(N2)       // "
#define JP_HASH  LS(N3)       // #
#define JP_DLLR  LS(N4)       // $
#define JP_PRCNT LS(N5)       // %
#define JP_AMPS  LS(N6)       // &
#define JP_SQT   LS(N7)       // '
#define JP_LPAR  LS(N8)       // (
#define JP_RPAR  LS(N9)       // )
#define JP_EQUAL LS(JP_MINUS) // =
#define JP_TILDE LS(JP_CARET) // ~
#define JP_PIPE  LS(JP_YEN)   // |
#define JP_GRAVE LS(JP_AT)    // `
#define JP_LBRC  LS(JP_LBKT)  // {
#define JP_CAPS  LS(JP_EISU)  // Caps Lock
#define JP_PLUS  LS(JP_SEMI)  // +
#define JP_ASTRK LS(JP_COLON) // *
#define JP_RBRC  LS(JP_RBKT)  // }
#define JP_LT    LS(JP_COMMA) // <
#define JP_RT    LS(JP_DOT)   // >
#define JP_QMARK LS(JP_SLASH) // ?
#define JP_UNDER LS(JP_BSLH)  // _

/ {
    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
        rot_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            tap-ms = <20>;
        };
        rot_mkp: sensor_rotate_mkp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&mkp>, <&mkp>;
            tap-ms = <20>;
        };
        mouse_scroll: mouse_wheel_scrl{
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <20>;
        };
        mouse_scroll2: mouse_wheel_scrl2{
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <16>;
        };
    };

    combos {
        compatible = "zmk,combos";
        lang1 {
            timeout-ms = <50>;
            key-positions = <51 52>;
            bindings = <&kp LANG1>;
            layers = <0>;
        };
        lang2 {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp LANG2>;
        };
    };




    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp TAB  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp RIGHT
                &kp LCTRL  &kp A  &kp S  &kp D  &kp F  &kp G  &kp LEFT
                &kp LSHIFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &none  &kp DOWN
                &kp TILDE  &kp GRAVE  &kp LC(LS(LA(LG(K))))  &kp LWIN  &none  &none  &kp UP
                &lt_to_layer_0 2 LALT  &lt 1 SPACE  &kp ESC  &kp LANG4  &none
                &bootloader  &none  &none  &none  &bt BT_SEL 4  &bt BT_SEL 5  &bt BT_SEL 6  &bt BT_CLR

                &kp UP  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp MINUS
                &kp DOWN  &kp H  &kp J  &kp K  &kp L  &kp ENTER  &kp EQUAL
                &kp RIGHT  &none  &kp N  &kp M  &kp COMMA  &kp DOT  &kp SLASH  &kp RSHIFT
                &kp LEFT  &mkp LCLK  &mkp RCLK  &kp RWIN  &kp LC(LS(LA(LG(F))))  &kp BSLH  &kp SEMI
                &none  &kp INT5  &none  &lt_to_layer_0 1 BSPC  &lt_to_layer_0 2 RALT
                &bt BT_CLR_ALL  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 5  &bt BT_CLR  &bootloader
            >;
            sensor-bindings = <&mouse_scroll2 SCRL_UP SCRL_DOWN &mouse_scroll SCRL_DOWN SCRL_UP>;
        };
        ARROW {
            bindings = <
                &none  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp RIGHT
                &none  &none  &none  &none  &none  &none  &kp LEFT
                &none  &none  &none  &none  &none  &none  &none  &kp DOWN
                &none  &none  &none  &none  &none  &none  &kp UP
                &none  &none  &none  &none  &none
                &none  &none  &none  &none  &none  &none  &none  &none

                &kp UP  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp PLUS
                &kp DOWN  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none  &kp SQT
                &kp RIGHT  &none  &none  &none  &none  &none  &none  &none
                &kp LEFT  &none  &none  &none  &none  &none  &none
                &none  &none  &none  &none  &none
                &none  &none  &none  &none  &none  &none  &none  &none
            >;
            sensor-bindings = <&inc_dec_kp LC(LS(TAB)) LC(TAB) &inc_dec_kp LC(LS(TAB)) LC(TAB)>;
        };
        NUM {
            bindings = <
                &kp GRAVE  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)  &kp RIGHT
                &kp TILDE  &none  &none  &none  &none  &none  &kp LEFT
                &none  &none  &none  &none  &none  &none  &none  &kp DOWN
                &none  &none  &none  &none  &none  &none  &kp UP
                &none  &none  &none  &none  &none
                &none  &none  &none  &none  &none  &none  &none  &none

                &kp UP  &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &none
                &kp DOWN  &none  &none  &none  &kp LBKT  &kp RBKT  &kp LS(SQT)
                &kp RIGHT  &none  &none  &none  &none  &kp LBRC  &kp RBRC  &none
                &kp LEFT  &none  &none  &none  &none  &none  &none
                &none  &none  &none  &none  &none
                &none  &none  &none  &none  &none  &none  &none  &none
            >;
            sensor-bindings = <&inc_dec_kp LC(LS(TAB)) LC(TAB) &inc_dec_kp LC(LS(TAB)) LC(TAB)>;
        };
    };
};
